.footer {
    background-color: #063d4d;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    text-align: justify;
    color: white;
    display: flex;
    justify-content: space-between;

}

.img-div {
    margin-right: 50px;
    margin-top: -5px;

}