.footer {
    background-color: #063d4d;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Cambria, Arial;
    font-size: 16px;
    text-align: justify;
    color: white;
}