.game {
    height: 300px;
    position: relative;
}

.game-content {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 120px;
    height: 300px;
    width: 800px;
    background-color:  #063c4d85;
}