body, html {
    height: 100%;
    background-color: #096480;
    display: block;
    font-family: Cambria, Arial;
}

.main {
    background-size: cover;
    display: -webkit-inline-box;
    background-image: url('cutocean.png');
    height: 400px;
    width: 100%;
    margin-top: 50px;
    color: white;
    /* margin-left: 100px;
    margin-right: 100px; */
}

.main-content {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 70px;
    height: 300px;
    width: 800px;
    /* background-color:  #063c4d85; */
}